<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
  </head>
  <body>
    
      <form method = "POST" action="/autenticacao">
            <div class="mb-3">
                  <label class="form-label">Login</label>
                  <input type="text" class="form-control" name ="login" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                  <label  class="form-label">Password</label>
                  <input type="password" class="form-control" name="password" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </body>
</html>